

  /* Specyficzne tło dla tej podstrony */
  .home-page {
    background-image: url("../../../public/images/background01.png");
    background-size: cover;
    background-position: bottom left;
    background-repeat: no-repeat;
  }
  