.faq {
    position: relative;
    width: 100%;
    height: 200vh;

    .text-container {
        position: sticky;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        max-width: 550px;
        display: flex;
        flex-wrap: wrap;
        color: #d4d4d4;

    }

    .letter {
        // transition: font-size 0.3s;
        font-size: 20px;
        /* Początkowy rozmiar liter */
        display: inline-block;
        /* Umożliwia indywidualne animowanie każdej litery */
    }

    .space {
        width: 8px;
        /* Możesz dostosować szerokość spacji */
        display: inline-block;
    }
}